{% extends 'student/studentindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="sendcomplaintpost">
  <table width="200" border="1" class="table table-bordered">
    
    <tr>
      <td>Complaint</td>
      <td><label for="textfield3"></label>
        <input type="text" name="textfield2" id="textfield3" required/></td>
    </tr>
    <tr align="center">
      <td colspan="2"><input type="submit" name="button" id="button" value="Send" class="btn btn-success"/></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
