{% extends 'student/studentindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">


  <table width="200" border="1" class="table table-bordered">
  


    <tr>
      <td>Slno</td>
      <td>Complaint</td>
      <td>Date</td>
      <td>Reply</td>
      

    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.complaint }}</td>
      <td>&nbsp;{{ i.date }}</td>
      <td>&nbsp;{{ i.reply }}</td>

   
    </tr>
      {% endfor %}
    
  </table>
</form>
</body>
{% endblock %}
