{% extends 'Teacher/teacherindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="add_Questionspost">
  <table width="200" border="1" cellpadding="4" class="table table-bordered">
{#    <tr>#}
{#      <th colspan="2" scope="col">Add Questions </th>#}
{#    </tr>#}
    <tr>
    <td>Test</td>
      <td><label for="textfield"></label>
      <select name="crop" required>
          <option value="">Select</option>
            {% for i in data %}
          <option value="{{ i.id }}">{{ i.test }}</option>
{% endfor %}
      </select> </td>
    </tr>
    <tr>
      <th scope="row">Questions</th>
      <td><input type="text" name="textfield" required/></td>
    </tr>
    <tr>
      <th scope="row">Option1</th>
      <td><input type="text" name="textfield2" required/></td>
    </tr>
    <tr>
      <th scope="row">Option2</th>
      <td><input type="text" name="textfield3" required/></td>
    </tr>
    <tr>
      <th scope="row">Option3</th>
      <td><input type="text" name="textfield4" required/></td>
    </tr>
    <tr>
      <th scope="row">Option4</th>
      <td><input type="text" name="textfield5" required/></td>
    </tr>
    <tr>
      <th scope="row">Answer</th>
      <td><input type="text" name="textfield6" required/></td>
    </tr>


    <tr align="center">
      <th colspan="2" scope="row"><input type="submit" name="Submit" value="Add" class="btn btn-success"/></th>
    </tr>
  </table>
</form>
</body>
{% endblock %}
