{% extends 'Teacher/teacherindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="255" border="1" cellpadding="4" class="table table-bordered">
{#    <tr>#}
{#      <th colspan="4" scope="col">Payment History </th>#}
{#    </tr>#}
    <tr>
      <td colspan="4"><input type="text" name="textfield" />
      <input type="submit" name="Submit" value="Search"  class="btn btn-success"/></td>
    </tr>
    <tr>
      <td width="37">Date</td>
      <td width="37">Student</td>
      <td width="37">Fee</td>
      <td width="92">Status</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
