{% extends 'Teacher/teacherindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="498" border="1" cellpadding="3" cellspacing="2">
    <tr>
      <th width="488" height="41" scope="row">Teacher's Home </th>
    </tr>
    <tr>
      <th scope="row"><a href="chatwith_Admin">Chat with Admin </a></th>
    </tr>
    <tr>
      <th scope="row"><a href="View_instructions">View Instructions From Admin </a></th>
    </tr>
    <tr>
      <th scope="row"><a href="chatwith_Students">Chat with Students </a></th>
    </tr>
    <tr>
      <th scope="row"><a href="View_request">View Request and Approve </a></th>
    </tr>
    <tr>
      <th scope="row"><a href="manage_studymaterials">Add Study Materials </a></th>
    </tr>
    <tr>
      <th scope="row"><a href="manage_test">Manage Test </a></th>
    </tr>
    <tr>
      <th scope="row"><a href="add_managequest">Add and Manage Questions </a></th>
    </tr>
    <tr>
      <th scope="row"><a href="viewsalary"> view salary</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="View_result">View Results </a></th>
    </tr>
      <tr>
      <th scope="row"><a href="logout">Logout </a></th>
    </tr>

  </table>
</form>
</body>
{% endblock %}
